 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 829px;
}

.u-section-1 .u-image-1 {
  width: 760px;
  height: 760px;
  background-image: url("images/pexels--7737885.jpg");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  letter-spacing: 0px;
  font-size: 3rem;
  font-weight: 700;
  width: 354px;
  margin: -614px auto 0;
}

.u-section-1 .u-form-1 {
  height: 396px;
  width: 451px;
  margin: 19px auto 60px;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: none;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -574px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 60px;
    height: 540px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -443px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: -194px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}